In [2]:
s1 ={1,8,9,0,10,9,0,1,9}
print(s1)
print(type(s1))

{0, 1, 8, 9, 10}
<class 'set'>

In [3]:
lst1 = [1, 8, 9, 0,10,20,78,8,8,8]

In [4]:
s2 = set(lst1)
print(s2)
print(type(s2))

{0, 1, 8, 9, 10, 78, 20}
<class 'set'>

In [6]:
s1 = {1, 2, 3, 4}
s2 = {3,4,5,6}

In [7]:
s1 | s2

{1, 2, 3, 4, 5, 6}

In [8]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}

In [9]:
s1 & s2

{3, 4}

In [10]:
s1 = {2, 3, 5, 6, 7}
s2= {5, 6, 7}

In [11]:
s1 - s2

{2, 3}

In [12]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}

In [13]:
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [14]:
s2.symmetric_difference(s1)

{1, 2, 3, 6, 7, 8}

Strings

In [17]:
str1= "Welcome to aiml class"
print(str1)
str2 = 'We started with python'
print(str2)
str3 = '''This is an awesome class'''
print(str3)

Welcome to aiml class
We started with python
This is an awesome class

In [18]:
print(type (str1))
print(type (str2))
print(type (str3))

<class 'str'>
<class 'str'>
<class 'str'>

In [19]:
str4 = '''He said, "It's awesome!"'''
str4

'He said, "It\'s awesome!"'

In [20]:
print(str1)
str1[5:10]

Welcome to aiml class

'me to'

In [23]:
str1[::-1]

'ssalc lmia ot emocleW'

In [24]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [25]:
print(str1)
str1.split()

Welcome to aiml class

['Welcome', 'to', 'aiml', 'class']

In [26]:
str4 = "Hello. How are you?"
' '.join(str4)

'H e l l o .   H o w   a r e   y o u ?'

In [28]:
reviews = ["The product is awesome", "Great Service"]
joined_string = ''.join(reviews)
joined_string

'The product is awesomeGreat Service'

In [29]:
str5 = "   Hello, How are you?   "
str5

'   Hello, How are you?   '

In [30]:
str5.strip()

'Hello, How are you?'

In [31]:
d1 = {"Ram": 180, "Shyam":170,"ramya":176}
for k in d1.keys():
    print(k)

Ram
Shyam
ramya

In [33]:
for v in d1.values():
    print(v)

180
170
176

In [35]:
for k,v in d1.items():
    print(k,v)

Ram 180
Shyam 170
ramya 176

In [36]:
d1["John"] = 165
d1

{'Ram': 180, 'Shyam': 170, 'ramya': 176, 'John': 165}