In [11]:
L = [100,50,193,443,256,53,1000]

In [15]:
L1=[]
L2=[]
for x in L:
    if x%2 ==0:
        L1.append(x)
    else:
            L2.append(x)

In [16]:
print(L1)
print(L2)

[100, 50, 256, 1000]
[193, 443, 53]

In [19]:
L = ["A",100,"B",20.5,True,6+8j]

In [34]:
L1=[]
L2=[]
L3=[]
L4=[]
for x in L:
    if type(x) == int:
        L1.append(x)
    elif type(x) == float:
        L1.append(x)
print(L1)

[100, 20.5]

In [1]:
my_list = [10, 20, 30, 40, 50]
print(my_list[1])
print(my_list[1:3])
print(my_list[1:])
print(my_list[:3])
print(my_list[:])

20
[20, 30]
[20, 30, 40, 50]
[10, 20, 30]
[10, 20, 30, 40, 50]

In [2]:
my_list = [10, 20, 30, 40]
for item in my_list:
    print(3*item)

30
60
90
120

In [7]:
my_list = [10, 20, 30, 40]
for x in range(len(my_list)):
    print(3*my_list[x])

30
60
90
120

In [12]:
duplicates_list = [1, 2, 2, 3, 3, 3]
duplicates_list

[1, 2, 2, 3, 3, 3]

In [8]:
nested_list = [[1, 2], [3, 4], [5, 6]]
nested_list

[[1, 2], [3, 4], [5, 6]]

In [9]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [10]:
orders = [["apple", 10], ["banana", 5], ["cherry", 7], ["banana", 5]]
orders

[['apple', 10], ['banana', 5], ['cherry', 7], ['banana', 5]]

In [11]:
new_order1 = ["date", 12]
orders.append(new_order1)
orders

[['apple', 10], ['banana', 5], ['cherry', 7], ['banana', 5], ['date', 12]]

In [16]:
new_orders = [["graph", 9], ["apple",20]]
orders.extend(new_orders)
orders

[['apple', 10],
 ['banana', 5],
 ['cherry', 7],
 ['banana', 5],
 ['date', 12],
 ['graph', 9],
 ['apple', 20],
 ['graph', 9],
 ['apple', 20],
 ['graph', 9],
 ['apple', 20]]

In [18]:
new_orders = [["graph", 9], ["apple",20]]
orders.append(new_orders)
orders

[['apple', 10],
 ['banana', 5],
 ['cherry', 7],
 ['banana', 5],
 ['date', 12],
 ['graph', 9],
 ['apple', 20],
 ['graph', 9],
 ['apple', 20],
 ['graph', 9],
 ['apple', 20],
 ['graph', 9],
 ['apple', 20],
 [['graph', 9], ['apple', 20]]]

In [19]:
new_order2 = ["dragon", 10]
orders.insert(3,new_orders2)
orders

NameError: name 'new_orders2' is not defined

In [22]:
duplicate_order = ["banana", 5]
orders.pop(4)

['apple', 20]

In [23]:
orders

[['apple', 10],
 ['banana', 5],
 ['cherry', 7],
 ['banana', 5],
 ['graph', 9],
 ['apple', 20],
 ['graph', 9],
 ['apple', 20],
 ['graph', 9],
 ['apple', 20],
 [['graph', 9], ['apple', 20]]]

In [6]:
orders = [['apple', 10],['banana', 5],['cherry', 7],['dragon', 10]]
for each in orders:
    if each[0] == "cherry":
       each[1] = 10
print(orders)

[['apple', 10], ['banana', 5], ['cherry', 10], ['dragon', 10]]

In [14]:
apple_orders= []
for each in orders:
    if each[0] == 'apple':
        apple_orders.append(each[1])
print(apple_orders)
print(sum(apple_orders))

[10]
10

In [16]:
tup4 = ([1,2,3],(4,8,9), "Hello",9.8)
tup4

([1, 2, 3], (4, 8, 9), 'Hello', 9.8)

In [24]:
tup4[1][1] = 100
tup4

TypeError: 'tuple' object does not support item assignment

In [25]:
tup4.index('Hello')

2

In [26]:
tup5 = (10,20,1,10,10,30,10)
tup5.count(10)

4

In [1]:
d2 = dict(A=10, B=20, C=30)
print(d2)

{'A': 10, 'B': 20, 'C': 30}

In [2]:
d3 = dict([("x", 1), ("y", 2), ("z", 30)])
print(d3)

{'x': 1, 'y': 2, 'z': 30}

In [3]:
print(d1.keys())
print(d1.values())
print(d1.items())

NameError: name 'd1' is not defined

In [4]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [2]:
scores= {'virat':90,'Rohith':100,'Rahul':70,'Hardik':9,'Gill':20,'jadeja':30,'Siraz':15,'Aswin':15}
scores

{'virat': 90,
 'Rohith': 100,
 'Rahul': 70,
 'Hardik': 9,
 'Gill': 20,
 'jadeja': 30,
 'Siraz': 15,
 'Aswin': 15}

In [3]:
scores.update({"Jadeja":50})
scores

{'virat': 90,
 'Rohith': 100,
 'Rahul': 70,
 'Hardik': 9,
 'Gill': 20,
 'jadeja': 30,
 'Siraz': 15,
 'Aswin': 15,
 'Jadeja': 50}

In [4]:
scores.update({"Hardik":65, 'Rahane':45})
scores

{'virat': 90,
 'Rohith': 100,
 'Rahul': 70,
 'Hardik': 65,
 'Gill': 20,
 'jadeja': 30,
 'Siraz': 15,
 'Aswin': 15,
 'Jadeja': 50,
 'Rahane': 45}